/src.rar
/src.zip
/build
/Rarmor.iml
/Rarmor.iws
/libraries
/out
/.gradle
/run
/Rarmor.ipr
/setup.bat
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
